nav {
    display: flex;
    background-color: #000000;
}

nav a {
    background-color: #808080;
    color: #000000;
    padding: 0.25em 0.5em;
    margin: 0.5em;
    text-decoration: none;
    transition: background-color 0.7s;
}

nav a:hover{
    background-color: red;
}

header, main {
    overflow: auto;
}



